#submit-button {
  background-color: black;
  border: white;
}

body {
  background-color: silver;
}

input {
  width: 60%;
  margin: auto;
}
.container {
  margin-top: 50px;
}
.container2 {
  padding-top: 30px;
  padding-left: 50px;
}
h1 {
  text-align: center;
  padding-bottom: 30px;
  color: darkblue;
  font-size: 50px;
}
h2 {
  color: darkblue;
}
